@import url('https://fonts.cdnfonts.com/css/chomsky');
@import url('https://fonts.cdnfonts.com/css/albertson');

@media only screen and (min-width: 300px) {
  .logo {
    text-decoration: none;
    height: auto;
  }

  .logo__text {
    font-family: 'Albertson', sans-serif;
    text-align: center;
    color: red;
    margin-top: 1rem;
    text-decoration: none;
  }

  .logo__name {
    margin: 1rem 0rem;
    font-family: 'Chomsky', sans-serif;
    color: gold;
    text-align: center;
    font-size: 3.8rem;
    text-shadow: 0px 0px 1px black, 0px 0px 10px grey;
  }

  .nav_bar {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    color: rgb(221, 214, 173);
    border: none;
    font-size: 1.5rem;
    margin: 1rem 2rem 1rem;
  }

  .nav_bar a {
    color: inherit;
  }

  .sub_menu {
    border: 1px solid red;
    display: none;
  }
}