/* :root {} */
@import-normalize;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  overflow-y: auto;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */

}

body {
  font-family: 'PT Serif', serif;
  background: url("/stars.png"), linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), linear-gradient(rgb(74, 26, 119), rgb(74, 26, 119));
  /* background-size: 100px, 100px, cover; */
  /* background-color: rgb(74, 26, 119); */
}

next-route-announcer {
  display: none;
}