@use "sass:math";
@use "sass:list";
@import "/src/scss/animations.scss";

$cards: "/ace-of-diamonds.png", "/ace-of-spades.png", "/ace-of-clubs.png",
  "/ace-of-hearts.png";
$w: 0;

.card {
  background-color: transparent;
  perspective: 1000px;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.inner.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  color: gold;
  text-shadow: 0px 0px 1px black, 0px 0px 3px black, 0px 0px 3px white;
}

.back {
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("/card-back-side.jpg");
  background-size: contain;
  background-repeat: round;
}

.main {
  font-family: "PT Serif", serif;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10vh;
  margin-bottom: 10vh;
  align-items: center;
  & * {
    text-decoration: none;
  }
}

.image_wrapper {
  width: 250px;
  height: 250px;
  position: absolute;
  // display: none;
  top: 0;
  z-index: 1;
  animation: hat-glow 1s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_wrapper::after {
  content: "Dotknij!";
  z-index: 1;
  font-size: 150%;
  background-image: linear-gradient(rgb(255, 60, 92), gold);
  padding: 2rem;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-weight: bold;
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -moz-text-fill-color: transparent;
  animation: gaslo-gradient linear 3s 0s infinite both;
  pointer-events: none;
}

.image_wrapper.animated {
  animation: hat-spit 0.5s ease-out forwards;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  // row-gap: 5vh;
  // column-gap: 4px;
  // align-items: center;
  align-items: flex-start;

  justify-content: center;
  position: absolute;
  bottom: 0;
  top: 0;
  visibility: hidden;
  scale: 0.1;
  width: 100%;
  padding-bottom: 3rem;
  &.animated {
    animation: nav-expand 1.2s 0.5s linear forwards;
  }
}

.nav__item {
  display: flex;
  box-sizing: content-box;
  align-items: center;
  width: 150px;
  padding-bottom: 10vh;
  $w: 150;
  height: calc($w * 1.32 * 1px);
  justify-content: center;
  font-size: 2rem;
  &:nth-child(n + 3) {
    padding-bottom: 7rem;
  }

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) .front {
      background-image: url(list.nth($cards, $i));
    }
  }
}

.nav__item.animated {
  animation: cards-fly-out both 1.6s 0.5s ease-in-out;
}
.nav__item.animated {
  &:nth-child(n + 3) {
    animation: cards-fly-out both 1.4s 0.5s ease-in-out;
  }
}

.reserve {
  perspective: 1000px;
  border: 1px solid black;
  position: absolute;
  bottom: 5vw;
  right: 5vw;
  max-width: 30vmax;
  backdrop-filter: blur(5px);
  background-color: rgb(0, 0, 0, 10%);
  color: white;
  animation: reserve-animation 3s linear infinite forwards;
  text-align: center;
  box-shadow: 0px 0px 5px white;
  border-radius: 10px;
  padding: 0.5rem 0.2rem;
  & * {
    margin-bottom: 0;
    text-shadow: 0px 0px 3px #000;
  }
}

.magicball {
  position: absolute;
  bottom: 5vw;
  right: 5vw;
  height: auto;
  display: block;
  animation: magic-ball-animation 1s linear infinite forwards;
}

@media only screen and (max-width: 640px) {
  .nav {
    width: 320px;
    column-gap: 10px;
  }
}

@media only screen and (min-width: 641px) {
  .image_wrapper {
    width: 400px;
    height: 400px;
  }
  .nav {
    width: 100%;
    column-gap: 10px;
  }
  .nav__item.animated {
    animation: cards-fly-out both 1.4s 0.5s ease-in-out;
  }
  .nav__item.animated {
    &:nth-child(3n + 1) {
      animation: cards-fly-out both 1.6s 0.5s ease-in-out;
      // border: 3px solid red;
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 959px) {
  .nav {
    width: 520px;
    column-gap: 30px;
  }
  .nav__item {
    width: 234px;
    height: 304px;
  }
  .nav__item.animated {
    animation: cards-fly-out both 1.6s 0.5s ease-in-out;
  }
  .nav__item.animated {
    &:nth-child(n + 3) {
      animation: cards-fly-out both 1.4s 0.5s ease-in-out;
    }
  }
}

@media only screen and (min-width: 960px) {
  .nav {
    width: 100%;
    column-gap: 5px;
  }
  .nav__item {
    width: 234px;
    height: 304px;
  }
}

@media only screen and (min-width: 1280px) {
  .nav {
    column-gap: calc((100vw - 234px * 4) / 4);
  }
}
